// custom background color to match Boyd's catalog explorer
body {
    font-family: 'BellTopo Sans Regular', serif;
    background: #ddeadd;
    color: #050705;
    font-size: 100%;
}


// header title 
h1 {
    font-size: 150% !important;
    color: #3d5c3d;

}

h2 {
    color: black;
}

p {
    text-align: justify;
}

h4 {
    text-align: center;
}

// catalog-filter, .search-box {
//     background-color: #f1f7fc;
// }

.form-control {
    background-color: #f0f5f0 !important;
}

card-img-wrapper {
    background-color: #f1f7fc;   
}


#stac-browser .card-grid .catalog-card, #stac-browser .card-grid .item-card, #stac-browser .card-grid .feature-card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    background-color: #f1f7fc;
}