// custom background color to match Boyd's catalog explorer
body {
    font-family: 'Open Sans', sans-serif;
    background: #ddeadd;
    color: #050705;
    font-size: 100%;
}

// header title 
h1 {
    font-size: 150% !important;
    font-family: 'BellTopo Sans', serif;
}

h2 {
    color: #3d5c3d;
}

h2, h3, h4, .title {
    font-family: 'BellTopo Sans', serif;
}

h3, h4 {
    text-align: center;
}


h4 a {
    color: #0f1a0f;
}

a {
    color: #2f3b2f;
    text-decoration: none;
    background-color: transparent;
}

p {
    text-align: justify;
}

// Searh bar
.form-control {
    background-color: #f0f5f0 !important;
}

card-img-wrapper {
    background-color: #f1f7fc;   
}

#stac-browser .card-grid .catalog-card, #stac-browser .card-grid .item-card, #stac-browser .card-grid .feature-card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    background-color: #f1f7fc;
}

.b-sidebar {
    background: #ddeadd !important;
}