body {
  font-weight: 300 !important;
}

.site-logo {
  height: $logo-image-height;
  width: auto;
  margin-right: 0.5rem;
  vertical-align: middle;
}

header .site .col-md-12 {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

strong, b {
  font-weight: 400 !important;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500 !important;
}

#stac-browser > header .site > .col-md-12 > .title span {
    font-weight: 500 !important;
    font-size: $h4-font-size !important;
    
}

#stac-browser > header .site > .col-md-12 > .title {
    word-break: break-word;
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    justify-content: flex-end !important;
    gap: 0.1rem !important;
}



.metadata .label {
    margin: 0;
    padding-left: 0;
    font-weight: 400 !important;
    vertical-align: top;
}

 .header-brand {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 14px 0 10px;
        }

        .header-brand img {
            height: 75px !important;
            width: auto !important;
        }


        .brand-text { 
            display: flex; 
            flex-direction: column; 
            line-height: 1.2; 
        }
        .brand-title { 
            font-size: $h1-font-size; 
            font-weight: 600; 

        }
        .brand-subtitle { 
            font-weight: 400; 
            margin-top: 0.25rem;
        }

.badge {
    // font-size: 0.75rem;
    padding: 0.4rem 0.4rem;
    padding-top: 0.5rem;
}

.badge-pill {
    // border-radius: 50% !important;
    padding: 0.4rem 0.4rem;
}

.read-more-button span{
    background-color: #e4eee4 !important;
}

.hide-text {

    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#f0f5f0 90%,#f0f5f0) !important;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.35rem !important;
    // padding-top: 0.5rem !important;
}

#stac-browser .catalog-card .card-img-wrapper, #stac-browser .item-card .card-img-wrapper, #stac-browser .feature-card .card-img-wrapper {
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    // height: 300px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }
}

#stac-browser .item-card .card-img-wrapper, #stac-browser .feature-card .card-img-wrapper {
    height: 200px;
}

#stac-browser .catalog-card .card-img-wrapper img.thumbnail.card-img, #stac-browser .item-card .card-img-wrapper img.thumbnail.card-img, #stac-browser .feature-card .card-img-wrapper img.thumbnail.card-img {
    width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
}